@import '../../../assets/styles/settings';

.pizza-details {
  > .detail {
    padding: $small-size;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    > .title {
      font-weight: 400;
      margin-right: $medium-size;
    }

    .list {
      width: 100%;
      padding: 0;

      .item {
        display: block;
        margin: 0;
        padding: $x-small-size;
      }

    }
  }
}