@import '../../assets/styles/settings';

.navigation-wrapper {
  display: block;
  margin: $medium-size auto;
  width: fit-content;

  > .list {
    display: flex;
    flex-flow: row wrap;

    > .item {
      > .button {
        width: 15vw;
        border-radius: 0;

        @media screen and (max-width: $breakpoint) {
          width: 23vw;
          padding: $x-small-size;
          font-size: 12px;
        }
      }
    }
  }

  .active {
    button {
      background: $primary-dark;
      color: $white;
    }
  }
}