@import '../../assets/styles/settings';

.pizza-container {
  max-width: $breakpoint;
  display: block;
  margin: 0 auto;

  > .display {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  > .submit-pizza {
    width: 100%;
    margin: $large-size auto;
    padding: $large-size;
  }
}