@import '../../assets/styles/settings';

.suggestion-wrapper {
  background: $secondary;
  display: block;
  margin: auto;
  padding: $small-size;
  text-align: center;

  > .title {
    display: inline;
    margin-right: $medium-size;
    font-weight: 400;
  }
}
