//Colors
$primary: #4caf50;
$primary-light: #80e27e;
$primary-dark: #087f23;
$secondary: #e53935;
$secondary-light: #ff6f60;
$secondary-dark: #ab000d;
$light-grey: #eee;
$dark: #000;
$white: #fff;

//Sizes
$breakpoint: 1000px;
$x-small-size: 4px;
$small-size: 8px;
$medium-size: 16px;
$large-size: 24px;
$x-large-size: 48px;
