$primary: #4caf50;
$primary-light: #80e27e;
$primary-dark: #087f23;
$secondary: #e53935;
$secondary-light: #ff6f60;
$secondary-dark: #ab000d;
$light-grey: #eee;
$dark: #000;
$white: #fff;
$breakpoint: 1000px;
