@import '../../assets/styles/settings';

.select-box {
  li, input, label {
    cursor: pointer;
  }

  .item {
    padding: $small-size 0;
  }
  
  .box {
    margin-right: $small-size;

    &:disabled+label {
      opacity: 0.2;
    }
  }
}